.example-form {
    max-width: 900px;
    max-height: 800px;
    margin: auto;
}

.example-full-width {
    width: 100%;
}

.mat-form-field {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}