<div class="body">
<div>
<mat-toolbar color="primary" class="mat-elevation-z8" style="height: 80px;">


    <span><mat-icon>rebase_edit</mat-icon> Paramétrage du workflow</span>

</mat-toolbar>
</div>
    <div class="section" >  
        <div class="card">
            <div class="imgBx">
                <mat-icon fontIcon="rebase_edit" class="large-icon"></mat-icon>
                
            </div>
            <div class="contentBx">
                <h2>Configuration des workflows</h2>
                <p>Accéder à la liste des workflows pour les afficher et les modifier.</p>
                <a href="./listworkflow" style="transform: translateY(70px);">
                    <button class="animated-button" >
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                        <span class="text" >Accéder</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                    </button>
                    
                </a>
            </div>
        </div>
        
    </div>
</div>


