@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
body {
     background-color: #1c87c9;
 }
.section {
    
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 100px;
  
}

.section .card {
    width: 320px;
    justify-content: center;
    margin: 20px;
    padding: 40px 30px;
    background: #ffffff;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgb(227, 227, 227), 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.section .card:hover {
    box-shadow: inset -6px -6px 20px rgba(76, 67, 67, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.section .card .imgBx {
    position: relative;
    text-align: center;
    
   
    
}



.section .card .contentBx {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.section .card .contentBx h2 {
    color: #3413b9;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.section .card .contentBx p {
    color: #bdcfdc;
}

.section .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #3a9bdc;
    font-size: 16px;
    text-decoration: none;
    box-shadow: -4px -4px 15px rgb(49, 48, 48), 4px 4px 15px rgba(0, 0, 0, 0.1);
}

.section .card .contentBx a:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.section .card a:hover span {
    display: block;
    transform: scale(0.98);
}

.section .card:hover .imgBx,
.section .card:hover .contentBx {
    transform: scale(0.98);
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(30, 70, 182);
    box-shadow: 0 0 0 2px rgb(29, 65, 166);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(27, 59, 145);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(30, 116, 173);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(142, 151, 158);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}